<div class="min-h-screen bg-gradient-to-r from-blue-900 via-blue-800 to-blue-600 flex items-center justify-center">
  <div class="bg-white p-8 rounded-lg shadow-lg max-w-md w-full">
    <div class="mt-4">
        <%= link_to "Back", root_path, class: "text-blue-500 hover:text-blue-400 font-bold" %>
    </div>

    <h2 class="text-3xl font-bold text-blue-900 mb-6 text-center">Sign Up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "space-y-6" }) do |f| %>
      
      <!-- Error Messages -->
      <%= render "devise/shared/error_messages", resource: resource %>

      <!-- Email Field -->
      <div class="flex flex-col space-y-2">
        <%= f.label :email, class: "text-sm font-bold text-blue-900" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full p-3 border border-gray-300 rounded-lg focus:ring focus:ring-blue-500" %>
      </div>

      <!-- Password Field -->
      <div class="flex flex-col space-y-2">
        <%= f.label :password, class: "text-sm font-bold text-blue-900" %>
        <% if @minimum_password_length %>
          <em class="text-sm text-gray-500">(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class: "w-full p-3 border border-gray-300 rounded-lg focus:ring focus:ring-blue-500" %>
      </div>

      <!-- Password Confirmation Field -->
      <div class="flex flex-col space-y-2">
        <%= f.label :password_confirmation, class: "text-sm font-bold text-blue-900" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-full p-3 border border-gray-300 rounded-lg focus:ring focus:ring-blue-500" %>
      </div>

      <!-- Submit Button -->
      <div>
        <%= f.submit "Sign Up", class: "w-full bg-blue-500 hover:bg-blue-400 text-white font-bold py-3 px-6 rounded-lg shadow-md transition duration-300" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>

