<%= form_for @budget do |f| %>
  <!-- Month Selection -->
  <div class="field">
    <%= f.label :month, "Month" %>
    <%= f.date_select :month, order: [:month, :year], discard_day: true, prompt: { month: 'Select month', year: 'Select year' } %>
  </div>

 <!-- Income (nested fields for income model) -->
  <div class="field">
    <%= f.fields_for :income do |income_fields| %>
      <h3>Income</h3>
      <div>
        <%= income_fields.label :paycheck_1, "Paycheck 1" %>
        <%= income_fields.number_field :paycheck_1, step: 0.01, class: "form-control" %>
      </div>

      <div>
        <%= income_fields.label :paycheck_2, "Paycheck 2" %>
        <%= income_fields.number_field :paycheck_2, step: 0.01, class: "form-control" %>
      </div>
    <% end %>
  </div>


  <!-- Giving -->
  <div class="field">
    <%= f.label :giving, "Giving" %>
    <%= f.number_field :giving, step: 0.01, class: "form-control" %>
  </div>

  <!-- Savings -->
  <div class="field">
    <%= f.label :savings, "Savings" %>
    <%= f.number_field :savings, step: 0.01, class: "form-control" %>
  </div>

  <!-- Housing -->
  <div class="field">
    <%= f.label :housing, "Housing" %>
    <%= f.number_field :housing, step: 0.01, class: "form-control" %>
  </div>

  <!-- Transportation -->
  <div class="field">
    <%= f.label :transportation, "Transportation" %>
    <%= f.number_field :transportation, step: 0.01, class: "form-control" %>
  </div>

  <!-- Food -->
  <div class="field">
    <%= f.label :food, "Food" %>
    <%= f.number_field :food, step: 0.01, class: "form-control" %>
  </div>

  <!-- Personal -->
  <div class="field">
    <%= f.label :personal, "Personal" %>
    <%= f.number_field :personal, step: 0.01, class: "form-control" %>
  </div>

  <!-- Lifestyle -->
  <div class="field">
    <%= f.label :lifestyle, "Lifestyle" %>
    <%= f.number_field :lifestyle, step: 0.01, class: "form-control" %>
  </div>

  <!-- Health -->
  <div class="field">
    <%= f.label :health, "Health" %>
    <%= f.number_field :health, step: 0.01, class: "form-control" %>
  </div>

  <!-- Insurance -->
  <div class="field">
    <%= f.label :insurance, "Insurance" %>
    <%= f.number_field :insurance, step: 0.01, class: "form-control" %>
  </div>

  <!-- Debt -->
  <div class="field">
    <%= f.label :debt, "Debt" %>
    <%= f.number_field :debt, step: 0.01, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Save Budget", class: "btn btn-primary" %>
  </div>
<% end %>
